<!doctype html>
<html ng-app="calendarApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Number8 Calendar test">
    <title>Number8</title>
<link href="/dist/styles.css" rel="stylesheet"></head>
<body class="lang-eng">
    <div ui-view></div>
<script type="text/javascript" src="/dist/manifest.81016f51a0670ca7f606.js"></script><script type="text/javascript" src="/dist/vendor.81016f51a0670ca7f606.js"></script><script type="text/javascript" src="/dist/main.81016f51a0670ca7f606.js"></script></body>
</html>
  