<h1>Calendar picker V2</h1>
<input type="date" name="date" ng-model="main.date" required>
<input type="number" name="number" ng-model="main.number" required>
<input type="text" name="code" ng-model="main.code" required >
<button ng-click="main.renderCalendar()">Go</button>

<div class="featurette" id="about">
    <div class="span12">
        <table class="table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="7">
                        <span class="btn-group">
                	<p style="margin-left: 48px;">{{main.initMonthYear}}</p>
                </span>
                    </th>
                </tr>
                <tr>
                    <th>Su</th>
                    <th>Mo</th>
                    <th>Tu</th>
                    <th>We</th>
                    <th>Th</th>
                    <th>Fr</th>
                    <th>Sa</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="week in main.initMonth">
                    <td ng-repeat="day in week track by $index" ng-class="{'weekend': ($index == 0 || $index == 6) && day >= main.date.getDate() && day !== 0, 'weekday': $index > 0 && $index < 6 && day >= main.date.getDate() && day !== 0, 'holiday': main.checkIfDateHasHoliday(null,null,day)}">
                    	<div>{{day >= main.date.getDate() ? day : ' '}}</div>
                   	</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-if="main.remainingMonths.length > 0">
	<div ng-repeat="rem in main.remainingMonths" class="featurette" id="about">
	    <div class="span12">
	        <table class="table-condensed table-bordered table-striped">
	            <thead>
	                <tr>
	                    <th colspan="7">
	                        <span class="btn-group">
	                	<p style="margin-left: 48px;">{{main.monthNames[rem.month]}} {{rem.year}}</p>
	                </span>
	                    </th>
	                </tr>
	                <tr>
	                    <th>Su</th>
	                    <th>Mo</th>
	                    <th>Tu</th>
	                    <th>We</th>
	                    <th>Th</th>
	                    <th>Fr</th>
	                    <th>Sa</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="week in rem.weeks">
	                    <td ng-repeat="day in week track by $index"
	                    	ng-hide="rem.month == main.lastMonth && rem.year == main.lastYear && day > main.lastDay"
	                    	ng-class="{'weekend': ($index == 0 || $index == 6) && day !== 0, 'weekday': $index > 0 && $index < 6 && day !== 0, 'holiday': main.checkIfDateHasHoliday(rem.year,rem.month,day)}">
	                    	<div>{{(day !== 0) ? day : ''}}</div>
	                   	</td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>
<div ng-if="main.error">
	<h3>{{main.error}}</h3>
</div>